body {
    font: 16px/28px  arial, sans-serif;
    background-color: lightblue;
    color: #333;
}

.navbar {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: orange;
}

p, li {
    text-align: justify;
}

#bio {
    width: 800px;
    background-color: white;
}

footer p {
    background-color: orange;
    color: black;
    text-align: center;
    margin: auto;
    width: 800px;
}

.jumbotron {
    background-image: url('images.jpg');
    background-size: cover;
    margin: auto;
    width: 800px;
}